* {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}

h1 {
  font-size: 6vh;
}

.App-header {
  background-color: #fff1c1;
}
.select-menu {
  -webkit-appearance: none;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  border-radius: 0px;
  line-height: 2;
  border: 1px solid #d2c6b2;
  padding-left: 8px;
}

.ingredient-menu {
  width: 150px;
}

.imperial-menu {
  width: 100px;
}

.metric-menu {
  width: 100px;
}

.amount-input {
  width: 100px;
  box-sizing: border-box;
  border-radius: 0px;
  height: 1.75;
}
