* {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}

h1 {
  font-size: 6vh;
}

.App-header {
  background-color: #fff1c1;
}
.select-menu {
  -webkit-appearance: none;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  border-radius: 0px;
  line-height: 2;
  border: 1px solid #d2c6b2;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 0px;
  margin-right: 4px;
}

.ingredient-menu {
  min-width: 250px;
}

.imperial-menu {
  width: 100px;
}

.metric-menu {
  width: 100px;
}

.amount-input {
  width: 100px;
  box-sizing: border-box;
  border-radius: 0px;
  height: 1.75;
}

.App-footer p {
  font-size: 12px;
}

#add-button {
  width: 200px;
  border: none;
  color: white;
  background-color: #69371b;
}

.remove-button {
  font-size: 20px;
  color: white;
  padding: 0px;
  margin-left: 10px;
  background-color: #eb4559;
  border-radius: 100%;
  border: none;
  height: 40px;
  position: relative;
  top: 45px;
}

i {
  padding-left: 10px;
  padding-right: 10px;
}
